/* Floating Button */
.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

li {
  font-weight: bold;
} */
