<!-- Navigasi -->
<nav class="navbar navbar-expand-lg bg-body-tertiary shadow fixed-top">
    <div class="container-fluid">

        <!-- Dark Button -->
        <div class="form-check form-switch m-0">
            <input class="form-check-input p-2" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked
                onclick="myFunction()" />
        </div>

        <!-- Logo -->
        <div class="navbar-brand fw-bold text-primary" href="#">belajar<span class="text-danger">sosiologi.my.id</span>
        </div>

        <!-- Humburger Menu -->
        <button class="navbar-toggler btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu Kanan -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/index.html">Beranda</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Kelas
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class=" nav-link dropdown-item" href="/kelas/fase-e.html">Kelas 10</a>
                        </li>
                        <li><a class="nav-link dropdown-item" href="/kelas/fase-f.html">Kelas 11</a></li>
                        <li><a class="nav-link dropdown-item" href="/kelas/fase-f2.html">Kelas 12</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Coding
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="nav-link dropdown-item" href="/belajar-coding/belajar-html.html">html</a></li>
                        <li><a class="nav-link dropdown-item disabled" aria-disabled="true" href="#">css</a>
                        </li>
                        <li><a class="nav-link dropdown-item disabled" aria-disabled="true" href="#">javascript</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Sispala
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="nav-link dropdown-item disabled" aria-disabled="true"
                                href="/sispala/profile.html">profile</a></li>
                        <li><a class="nav-link dropdown-item disabled" aria-disabled="true"
                                href="/sispala/berita.html">berita</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navigasi End -->